.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 10rem;
    height: 100vh;
}

.map {
    width: 90%;
    height: 90%;
    margin-top: 1rem
}



.profile {
    display: flex;
    justify-content: space-between;
    height: 25rem;
    width: 67rem;
    margin-top: 3rem
}

.restaurant {
    height: max-content;
    &__image {
        height: 10rem;
        object-fit: cover;
    }

    &__description {
        height: 7rem;
    }
}

.form {
    align-self: center;
    width: 70rem;
    &__item {
        width: 80%
    }    
}


