.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 10rem;
}

.intro {
    display: flex;
    align-items: center;
}

.heading {
    margin-right: 7rem;
}

.restaurant {
    width: 15rem;
    height: 17rem;
    &__image {
        height: 70%;
        object-fit: cover;
    }

    &__description {
        height: 20%;
    }
}

.edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    width: 67rem;
    margin-top: 3rem
}

.map {
    width: 90%;
    height: 90%;
    margin-top: 1rem
}

.form {
    align-self: center;
    width: 70rem;
    &__item {
        width: 80%
    }    
}


