.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
    height: 5rem;
    background-color: rgb(198, 198, 239);
}

.menu {
    text-decoration: none;
}

