.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0rem 3rem 10rem;
    height: 100vh;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    width: 67rem;
    margin-top: 1rem
}

.map {
    width: 45%;
    height: 100%;
}

.form {
    margin-top: 3rem;
    width: 60%;

    &__item {
        width: 100%
    }    
}



